body{
font-family:Tahoma, sans-serif;
background-image:linear-gradient(#A9A9C4, #FFFFFF);
background-repeat:no-repeat;
line-height:2;
}

.name{
text-align:center;
text-transform:uppercase;
margin-top:40px;
font-size:25px;
line-height:1.5;
}

.name p{
margin-top:10px;
}

.name h2{
margin-bottom:15px;
}

.skill{
height:50px;
float:left;
margin-left:200px;
text-align:left;
}

.skill h2{
text-align:left;
text-transform:uppercase;
font-size:22px;
}

.skill ul{
padding-left:5px;
}


.site{
height:50px;
float:right;
margin-right:200px;

}

.site h2{
text-transform:uppercase;
font-size:22px;
}

.site ul{
padding-left:5px;
}

.site li{
margin-top:20px;
}

.site img{
margin-top:20px;
}

li {
list-style-type: none; 
}

.skill li:before {
content: "- "; 
}

.clear{
clear:both;
}

.cont{

margin-top:240px;
margin-left:200px;
}

.cont h2{
text-transform:uppercase;
font-size:22px;
}

.cont i{
padding:5px;
}







